extends layout

block aboutus
	div.jumbotron
		div.container
			h1 About us
			p Welcome! We're the developers of PaintChat, an online collaborative paint room where budding painters can unleash their creative energies!
	div.container
		div.row
			div.col-md-3
				h2 Jauzey Imam
				p Jauzey is a fourth year Computer Engineering and Plan II Honors major. He focuses on web (Django/Python, Node, Java) and mobile development (iOS and Android). Jauzey will be interning at eBay Inc this summer. When not programming, he can be found reading, writing or rock climbing.
			div.col-md-3
				h2 Mark Judice
				p Mark is a third year Electrical and Computer Engineering major focusing on software development. His interests include information security and web development. Mark is interning at an information security company located in downtown Austin this summer. He likes sight seeing and long walks on the beach.
			div.col-md-3
				h2 Nadeem Zaki
				p Nadeem is a third year undergraduate student at University of Texas in Austin pursuing degrees in Neuroscience and Electrical and Computer Engineering. He is interested in Brain-Computer Interface and will be interning with Interaxon in Toronto this Summer. In his (limited) free time he likes to watch and play football, basketball, and soccer.
			div.col-md-3
				h2 Zander Smith
				p Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.