extends layout

block aboutus
	div.jumbotron
		div.container
			h1 About us
			p This is a template for a simple marketing or informational website. It includes a large callout called a jumbotron and three supporting pieces of content. Use it as a starting point to create something more unique.
	div.container
		div.row
			div.col-md-3
				div.circular-image#jauzey-img
				h2 Jauzey Imam
				p Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
			div.col-md-3
				div.circular-image#mark-img
				h2 Mark Judice
				p Mark is a third year electrical and computer engineering major focusing on software development. His interests include information security and web development. Mark is interning at an information security company located in downtown Austin this summer. He likes sight seeing and long walks on the beach.
			div.col-md-3
				div.circular-image#nadeem-img
				h2 Nadeem Zaki
				p Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
			div.col-md-3
				div.circular-image#zander-img
				h2 Zander Smith
				p Zander is a fourth year electrical and computer engineering student also focusing on software engineering. He will be graduating in December of 2014 and is currently employed as a software developer at Austin Based Mutual Fund Company (Dimensional Fund Advisors). His interests are golf, architecture, and True Detective.

