extends layout

block loginroom
	div.container#loginarea
		div.col-md-offset-4.col-md-4.shadowed(style="border:1px solid black; margin-top:75px;")
			div.col-sm-offset-2.col-sm-10(style="padding-left:4px;")
				h1 Get Started!
			form.form-horizontal(role="form")
				div.form-group
					label.col-sm-2.control-label(for="pseudo") User
					div.col-sm-10
						input.form-control#pseudo(type="text")
				div.form-group
					label.col-sm-2.control-label(for="roomname") Room
					div.col-sm-10
						input.form-control#roomname(type="text")
				div.form-group
					div.col-sm-offset-2.col-sm-10
						button.btn.btn-success(type="button", onclick="setInformation()")#loginsubmit Go!

block paintroom
	div.container#paintchatroom
		div#buttons.col-md-9
			.preview.pull-left
				.colorpicker(style='display: none;')
					canvas#picker(width='300', height='300')
					.controls
						div
							label R
							input#rVal(type='text')
						div
							label G
							input#gVal(type='text')
						div
							label B
							input#bVal(type='text')
						div
							label RGB
							input#rgbVal(type='text')
						div
							label HEX
							input#hexVal(type='text')
						div#BW
							button#black Black
							button#white White
						div#CC
							button#confirm Confirm
							button#cancel Cancel
			button#freeDraw.btn.btn-default.active(rel="tooltip" data-toggle="tooltip" data-placement="bottom" title="Click and hold to draw freely") Free
			button#lineDraw.btn.btn-default(rel="tooltip" data-toggle="tooltip" data-placement="bottom" title="Click and drag to draw lines") Line
			button#rectangleDraw.btn.btn-default(rel="tooltip" data-toggle="tooltip" data-placement="bottom" title="Click and drag to draw rectangles") Rectangle
			button#circleDraw.btn.btn-default(rel="tooltip" data-toggle="tooltip" data-placement="bottom" title="Click and drag to draw circles") Circle
			button#ellipseDraw.btn.btn-default(rel="tooltip" data-toggle="tooltip" data-placement="bottom" title="Click and drag to draw ellipses") Ellipse
			button#starDraw.btn.btn-default(rel="tooltip" data-toggle="tooltip" data-placement="bottom" title="Click and drag to draw stars") Star
			button#textType.btn.btn-default(rel="tooltip" data-toggle="tooltip" data-placement="bottom" title="Click canvas to begin typing. Press ESCAPE to end typing.") Text
			button#selectionTool.btn.btn-default(rel="tooltip" data-toggle="tooltip" data-placement="bottom" title="Click on a path/text object to select and edit.\n For editing options type '/help' in the Chat.") Select
			button#saveButton.btn.btn-default(rel="tooltip" data-toggle="tooltip" data-placement="bottom" title="Double Click to Download this image")
				a(href="" id="save" download="saveImage" style="text-decoration:none;color:inherit;") Save
		div.col-md-9
			canvas#draw.shadowed-light(style="width:100%; height:500px; ")
			img(id="saveImage" style="display:none")
		div.col-md-3#chatarea.shadowed-light.pull-right
			div.row#chatheader
				h3#roomnamedisplay.pull-left Chat
				h3#pseudonamedisplay.pull-right Pseudo
			div.row#chatmessages
				input(type='text')#pseudoInput
				button#pseudoSet Set Pseudo
				div#chatEntries
			div#chatControls
				input(type='text')#messageInput
				button#submit Send
	script(type="text/paperscript", src="javascripts/draw.js", canvas="draw")
	script(src="/javascripts/color.js")