body {
 	font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

p {
	font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

#paintarea{
	border: solid 1px #999;
}

#chatarea{
	height:500px;
	border: solid 1px #999;
}

#chatmessages {
	height:390px;
	overflow-y:auto;
	word-wrap:break-word;
}

canvas{
	border: solid 1px #999;
}

.shadowed{
	box-shadow: 3px 3px 15px #888888;
}

.shadowed-light{
	box-shadow: 1px 1px 5px #888888;
}
