body {
 	font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

p {
	font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

#paintarea{
	border: solid 1px #999;
}

#chatarea{
	height:500px;
	border: solid 1px #999;
}

#chatheader {
    height: 38px; 
    border-bottom:1px inset #d3d3d3;
    padding-left:5px;
    padding-right:5px;
}

#chatheader > h3 {
    margin-top: 8px;
    margin-bottom: 10px;
}

#chatEntries {
    padding-left: 5px;
    padding-right: 5px;
}

#chatmessages {
	height:420px;
	overflow-y:auto;
	word-wrap:break-word;
}

canvas{
	border: solid 1px #999;
}

.shadowed{
	box-shadow: 3px 3px 15px #888888;
}

.shadowed-light{
	box-shadow: 1px 1px 5px #888888;
}
/* colorpicker styles */
.colorpicker {
    background-color: #222222;
    border-radius: 5px 5px 5px 5px;
    box-shadow: 2px 2px 2px #444444;
    color: #FFFFFF;
    font-size: 12px;
    position: absolute;
    width: 460px;
}
#picker {
    cursor: crosshair;
    float: left;
    margin: 10px;
    border: 0;
}
.controls {
    float: right;
    margin: 5px;
}
.controls > div {
    border: 1px solid #2F2F2F;
    margin-bottom: 5px;
    overflow: hidden;
    padding: 5px;
}
.controls label {
    float: left;
}
.controls > div input {
    background-color: #121212;
    border: 1px solid #2F2F2F;
    color: #DDDDDD;
    float: right;
    font-size: 10px;
    height: 14px;
    margin-left: 6px;
    text-align: center;
    text-transform: uppercase;
    width: 75px;
}
.controls > button {
    border: 1px solid #2F2F2F;
    background-color: #222222;
    margin-bottom: 5px;
    overflow: hidden;
    padding: 5px;
    /*border: 1px solid #2F2F2F;
    overflow: hidden;
    background-color: #121212;
    border: 1px solid #2F2F2F;
    color: #DDDDDD;
    float: right;
    font-size: 10px;
    height: 34px;
    text-align: center;
    text-transform: uppercase;
    width: 120px;*/
}
.preview {
    background: url("/images/select.png") repeat scroll center center transparent;
    border-radius: 3px;
    display: inline-block;
    cursor: pointer;
    height: 34px;
    width: 34px;
    margin-right: 0.5px;
}

#buttons > button{
    margin: 0px 0.5px 0px 0.5px;
}