body {
 	font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

p {
	font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

#paintarea{
	border: solid 1px #999;
}

#chatarea{
	height:500px;
	border: solid 1px #999;
}

#chatheader {
    height: 38px; 
    border-bottom:1px inset #d3d3d3;
    padding-left:5px;
    padding-right:5px;
}

#chatheader > h3 {
    margin-top: 8px;
    margin-bottom: 10px;
}

#chatEntries {
    padding-left: 5px;
    padding-right: 5px;
}

#chatmessages {
	height:420px;
	overflow-y:auto;
	word-wrap:break-word;
}

canvas{
	border: solid 1px #999;
}

.btn-margin{
    margin:0px 1px 0px 1px;
}

.shadowed{
	box-shadow: 3px 3px 15px #888888;
}

.shadowed-light{
	box-shadow: 1px 1px 5px #888888;
}

.circular-image{
    width:200px;
    height:200px;
    border-radius: 150px;
    -webkit-border-radius: 150px;
    -moz-border-radius: 150px;
    box-shadow: 0 0 8px rgba(0, 0, 0, .8);
    -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, .8);
    -moz-box-shadow: 0 0 8px rgba(0, 0, 0, .8);
}

.circular-image#jauzey-img{
    background: url(/images/jauzey.PNG) no-repeat;
}
.circular-image#mark-img{
    background: url(/images/mark.PNG) no-repeat;
}
.circular-image#nadeem-img{
    background: url(/images/nadeem.PNG) no-repeat;
}
.circular-image#zander-img{
    background: url(/images/zander.PNG) no-repeat;
}

.jumbotron{
    padding-top: 10px !important;
    padding-bottom: 10px !important;
}

/* colorpicker styles */
.colorpicker {
    background-color: #222222;
    border-radius: 5px 5px 5px 5px;
    box-shadow: 2px 2px 2px #444444;
    color: #FFFFFF;
    font-size: 12px;
    position: absolute;
    width: 464px;
}
#picker {
    cursor: crosshair;
    float: left;
    margin: 10px;
    border: 0;
}
.controls {
    float: right;
    margin: 5px;
}
.controls > div {
    border: 1px solid #2F2F2F;
    margin-bottom: 5px;
    overflow: hidden;
    padding: 5px;
}

.controls label {
    float: left;
}

.controls > #BW{
    border: none;
    background-color: #222222;
    overflow: hidden;
    width: 130px;
    padding: 0px;
    /*padding: 5px;
    text-align: center;
    /*width: 119px;*/
    /*height: 34px;*/
}
.controls > #CC{
    border: none;
    background-color: #222222;
    overflow: hidden;
    width: 130px;
    padding: 0px;
    text-align: center;
    /*width: 119px;*/
    /*height: 34px;*/
}
.controls > #BW > button{
    border: 1px solid #2F2F2F;
    background-color: #222222;
    overflow: hidden;
    width: 60px;
    height: 30px;
    margin:0;
    padding:0;
    float:left;
}
.controls > #CC > button{
    border: 1px solid #2F2F2F;
    background-color: #222222;
    overflow: hidden;
    width: 60px;
    height: 30px;
}
.controls > #BW #black{
    margin-right: 2px;
    float: left;
}
.controls > #BW #white{
    margin-left: 2px;
    float: right;
}
.controls > #CC #confirm{
    margin-right: 2px;
    float: left;
}
.controls > #CC #cancel{
    margin-left: 2px;
    float: right;
}
.controls > div input {
    background-color: #121212;
    border: 1px solid #2F2F2F;
    color: #DDDDDD;
    float: right;
    font-size: 10px;
    height: 14px;
    margin-left: 6px;
    text-align: center;
    text-transform: uppercase;
    width: 75px;
}
/*.controls > button {
    border: 1px solid #2F2F2F;
    background-color: #222222;
    margin-bottom: 5px;
    overflow: hidden;
    padding: 5px;
    width: 60px;
    height: 30px;
}*/
.preview {
    background: url("/images/select.png") repeat scroll center center transparent;
    background-color: #000000;
    border-radius: 3px;
    display: inline-block;
    cursor: pointer;
    height: 34px;
    width: 34px;
    margin-right: 0.5px;
}

#buttons > button{
    margin: 0px 0.5px 0px 0.5px;
}

